#ramen-form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px auto;
}

header{
    text-align: center;
    background-color: burlywood;
}
h1{
    text-align: center;
    font-size: large;
}

body {
    background-color:wheat;
}
footer{
    text-align: right;
}
button{
    background-color: blue;
    text-align: center;
}
